<div class="container">    
<div class="row clearfix">
        <div class="col-md-12 column">      
              <h2 class="fontface">
                Contact Bhargav
              </h2>
              <h3></h3>
              <form method="post" action="" id="frmContact" name="frmContact">
                <fieldset class="form-group">
                  <label for="name">
                    Name:
                  </label>
                  <input type="text" name="name" id="name" class="form-control" />
                </fieldset>
                <fieldset class="form-group">
                  <label for="city">
                    City:
                  </label>
                  <input type="text" name="city" id="city" class="form-control" />
                </fieldset>
                <fieldset class="form-group">
                  <label for="email">
                    Email:
                  </label>
                  <input type="text" name="email" id="email" class="form-control" />
                </fieldset>
                <fieldset class="form-group">
                  <label for="message">
                    Message:
                  </label>
                  
                  <textarea name="message" id="message" class="form-control"></textarea>
                </fieldset>
                <fieldset class="form-group">
                  <input type="submit" name="submit" value="Submit" class="submit-button btn btn-default" />
                </fieldset>
              </form>
              
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
 
  
  <!-- Menu Toggle Script -->
  <script>
    $(document).ready(function() {
    
    // ZipCode Form Validate
    $("#frmContact").validate({
        rules: {
            name: {
                required: true                
            },
              city: {
                required: true               
            },
              email: {
                 required: true,
                 email: true
              },
              message: {
                 required: true
              }
        },       

        errorPlacement: function (error, element) {
           error.insertAfter(element);
        },
        submitHandler: function(form) {          
          $.post('php/contact.php', $(form).serialize(), function(data) {
             $('h3').html("Your Information has been sent. Thank you.");
             $(form)[0].reset();
          });
        }      
        
    });
    });
  </script>  

