<div class="container">    
<div class="row clearfix">
  <div class="col-md-12 column">
        <div class="jumbotron">
        <h2>
          "Simplicity is the ultimate sophistication"
        </h2>
        <p>
          - Leonardo Da Vinci
        </p>


      </div>
      
        <div class="col-md-6 column highlightCol"> 
         <h2 class="fontface">
          Front End Developer
        </h2>
        <p>I am a UI Front End Developer living in Chandler, Arizona. I believe in providing UI solutions that are simple yet powerful.</p>
        <p>My work has involved working with various sized clients varying from small business to the fortune 500.</p>
        <p>In the ever changing UI landscape, observed the vast changes in technology, the ultimate goal being providing simple meaningful front end solutions.</p>
        <p>Responsive design has fascinated me, which really means one codebase, any device to view your website.</p>
        <p>I'm currently learning Angularjs and it's very addictive.</p>
      </div>
      
      <div class="col-md-5 column highlightCol col-md-offset-1"> 
         <h2 class="fontface">
          Skills
        </h2>

        <p>HTML5, CSS3, Responsive Design, Twitter Bootstrap, Less, jQuery, Angularjs, Ajax, SPAs, Git, Github and Adobe Photoshop</p>
        
      </div>

    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->  